<%= form_for(@hotel_review) do |f| %>
  <% if @hotel_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotel_review.errors.count, "error") %> prohibited this hotel_review from being saved:</h2>

      <ul>
      <% @hotel_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hotel_id %><br />
    <%= f.select :hotel_id, options_for_select(Hotel.all.collect { |h| [ h.name, h.id ] }) %>
  </div>
  <div class="field">
    <%= f.label :member_id %><br />
    <%= f.select :member_id, options_for_select(Member.all.collect { |h| [ h.name, h.id ] }) %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
