<p id="notice"><%= notice %></p>

<p>
  <b>Hotel:</b>
  <%= @hotel_review.hotel.name %>
</p>

<p>
  <b>Member:</b>
  <%= @hotel_review.member.name %>
</p>

<p>
  <b>Score:</b>
  <%= @hotel_review.score %>
</p>


<%= link_to 'Edit', edit_hotel_review_path(@hotel_review) %> |
<%= link_to 'Back', hotel_reviews_path %>
